<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block head_block %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <title>Acagia - Add Academy</title>
{% endblock %}
{% block body_block %}
<!-- ACADEMY FORM -->
<div class="pt-5 container">
  <div class="pt-5 row">
    <div class="col-md-6 offset-md-3">
      <div class="card bg-primary text-left card-form">
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            <h3 class="mb-3 text-center" >Add a New Academy</h3>
            {{ form|crispy }}
            <button
              type="submit"
              class="btn btn-outline-light btn-block mt-3 mb-3">
                Add Academy
            </button>
            <a href="{% url 'aca_list' %}" class="text-info
            col-6 offset-3">Go back to the academy list</a>
          </form>
        </div> <!-- end card body -->
      </div> <!-- end card -->
    </div> <!-- end column -->
  </div> <!-- end row -->
</div> <!-- end container -->
{% endblock %}



