<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block head_block %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <title>Acagia - {{ template.action_name }}</title>
{% endblock %}
{% block body_block %}
<!-- ACADEMY FORM -->
<div class="pt-5 container">
  <div class="pt-5 row">
    <div class="col-md-6 offset-md-3">
      <div class="card bg-white border-info bg-light text-black-50
      text-center
      card-form">
        <div class="card-body">
          <h3 class="text-info">Acagia</h3>
          <p class="mb-3">{{ template.action_name }}</p>
          <hr/>
          <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button
              type="submit"
              class="btn btn-info btn-block mt-4 mb-3">
                {{ template.btn_name }}
            </button>
            <a href="{% url 'aca_list' %}" class="text-info
            ">Go back to the academy list</a>
          </form>
        </div> <!-- end card body -->
      </div> <!-- end card -->
    </div> <!-- end column -->
  </div> <!-- end row -->
</div> <!-- end container -->
{% endblock %}



