<!DOCTYPE html>
{% extends 'acagiaApp/dashboard_base.html' %}
{% load staticfiles %}
{% block title_block %}
  <title name="dashboard">Manage Academy Information</title>
{% endblock %}

{% block content_block %}
<!-- Jumbtron academy information -->
<div class="jumbotron jumbotron-fluid text-black-50">
    <div class="container">
        <a href="/academy/update-academy/{{ academy.id }}" class="btn
        btn-info float-right
        btn-lg">
          <i class="fas fa-edit fa-lg"></i>
        </a>
        <h1 class="display-3">{{ academy }}</h1><br/>
        <h5>Academy Type: {{ academy.aca_type }}</h5>
        <h5>Office Phone: {{ academy.office_phone }}</h5>
        <h5>Location: {{ academy.location }}</h5>
        <h5>Time Zone: {{ academy.time_zone }}</h5>
    </div>
</div>
{% endblock %}




