<!DOCTYPE html>
{% extends 'acagiaApp/dashboard_base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title_block %}
  <title name="attendance">View Attendance Records</title>
{% endblock %}

{% block content_block %}
<!-- NAVBAR WITH SEARCH FORM -->
<nav class="navbar navbar-expand-sm navbar-light bg-light mb-4">
      <form class="form-inline mr-auto" method="POST">
        {% csrf_token %}
        Search Attendance By Date:&nbsp;&nbsp;
          {{ form.date_attended|as_crispy_field }}
        <button type="submit" class="btn
        btn-outline-success ml-2"><i class="fas fa-search"></i></button>
      </form>
</nav>
  {% if messages %}
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible mt-4"
      role="alert">
      <button type="button" class="close" data-dismiss="alert"
        aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ message }}
    </div>
    {% endfor %}
  {% endif %}

<div class="card bg-success text-light text-center mb-5">
  <div class="card-body">
      <h4 class="card-title display-3">
        <i class="far fa-calendar-check"></i>&nbsp;&nbsp;{{ num }}
          <h3>Attended {{ day }}</h3>
      </h4>
  </div>
</div> <!-- end card -->

{% if records %}
{% for record in records%}
    <div class="h3 pb-2 border-bottom border-success">
    {{ record.course.course_info_time_first }}&nbsp;
        &nbsp;
    <i class="far fa-calendar-check"></i>&nbsp;{{ record.count }}
    </div>

    <div class="card card-body mb-3 pl-5">
    {% for attendee in record.attendees %}
        <p class="text-secondary">
        <a href="/academy/members/detail/{{ attendee.id }}">
            <i class="far fa-id-card fa-lg text-success mr-3"></i></a>
        {{ attendee }}
        </p>
    {% endfor %}
    </div>
{% endfor %}
{% endif %}

{% endblock %}
