<!DOCTYPE html>
{% extends 'acagiaApp/dashboard_base.html' %}
{% load staticfiles %}

{% block sidebar_block %}
<!-- Sidebar -->
<nav id="sidebar">
  <div class="sidebar-header">
    <h2>Acagia</h2>
  </div>
  <ul class="list-unstyled components">
    <li>
      <a href="{% url 'dashboard' %}">
        <i class="fas fa-home fa-lg"></i>&nbsp;&nbsp;Home
      </a>
    </li>
    <li>
      <a href="{% url 'mem_list' %}">
        <i class="fas fa-users fa-lg"></i>&nbsp;&nbsp;Members
      </a>
    </li>
    <li class="active">
      <a href="{% url 'course_list' %}">
        <i class="fas fa-school fa-lg"></i>&nbsp;&nbsp;Classes
      </a>
    </li>
    <li>
      <a href="#">
       <i class="fas fa-calendar-alt fa-lg"></i>&nbsp;&nbsp;Events
      </a>
    </li>
  </ul>
</nav>
{% endblock %}

{% block content_block %}
<a href="{% url 'add_course' %}"><button class="btn btn-dark
mb-2">Add
    New
    Class</button></a>
<!-- Jumbtron academy information -->
{% if courses %}
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Class Name</th>
      <th>Days</th>
      <th>Time</th>
      <th>Instructor</th>
      <th>Operations</th>
    </tr>
  </thead>
  <tbody>
    {% for course in courses %}
    <tr>
      <td>{{ course.course_name }}</td>
      <td>{{ course.course_days }}</td>
      <td>{{ course.start_time|time:"H:i" }} -
          {{ course.end_time|time:"H:i" }}
      </td>
      <td>{{ course.instructor }}</td>
      <td>
        <a href="#" class="btn btn-success btn-sm mr-2">
          <i class="fas fa-edit fa-lg"></i>
        </a>
        <a href="#confirm-modal" class="btn btn-danger btn-sm"
           id="delete-link" data-toggle="modal"
           data-id="{{ course.id }}" data-name="{{ course }}">
            <i class="fas fa-trash-alt fa-lg"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<h3 class="mt-3">No classes yet. Add your first class now!</h3>
{% endif %}
<!-- Delete confirm modal -->
<div class="modal" id="confirm-modal">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Delete Confirmation</h5>
      <button class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
      Are you sure you want to delete <p><strong
            id="modal-msg"></strong></p>
    </div>
    <div class="modal-footer">
      <form method="POST" id="delete-mem"
            action="/academy/courses/delete-course/">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">
        Yes
        </button>
      </form>
      <button class="btn btn-danger" data-dismiss="modal">
        No
      </button>
    </div>
  </div>
</div>
</div> <!-- end delete confirm modal -->
{% endblock %}
{% block script_block %}
<script>
    /* How to change modal's value (how to pass parameters):
       https://stackoverflow.com/questions/10626885/passing-data-to-a-bootstrap-modal */
    // Triggered when modal is about to be shown
    $('#confirm-modal').on('show.bs.modal', function(e) {
        var id = $(e.relatedTarget).data('id');
        var name = $(e.relatedTarget).data('name');
        var link = $('#delete-mem').attr("action");
        $('#modal-msg').text(name + '?');
        $('#delete-mem').attr("action", link + id + '/');
    });
</script>
{% endblock %}




