<!DOCTYPE html>
{% extends 'acagiaApp/dashboard_base.html' %}
{% load staticfiles %}

{% block sidebar_block %}
<!-- Sidebar -->
<nav id="sidebar">
  <div class="sidebar-header">
    <a href="{% url 'dashboard' %}"><h2>Acagia</h2></a>
  </div>
  <ul class="list-unstyled components">
    <li class="active">
      <a href="{% url 'dashboard' %}">
        <i class="fas fa-home fa-lg mr-3"></i>Home
      </a>
    </li>
    <li>
      <a href="{% url 'mem_list' %}">
        <i class="fas fa-users fa-lg mr-3"></i>Members
      </a>
    </li>
    <li>
      <a href="{% url 'course_list' %}">
        <i class="fas fa-school fa-lg mr-3"></i>Classes
      </a>
    </li>
    <li>
      <a href="#">
       <i class="fas fa-calendar-alt fa-lg ml-1 mr-4"></i>Events
      </a>
    </li>
    <li>
      <a href="#">
       <i class="fas fa-bolt fa-lg ml-2 mr-4"></i>Promotion
      </a>
    </li>
    <li>
      <a href="{% url 'att_list' %}">
       <i class="fas fa-clipboard-check fa-lg ml-1 mr-4"></i>Attendance
      </a>
    </li>
  </ul>
</nav>
{% endblock %}

{% block content_block %}
<!-- Jumbtron academy information -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">{{ academy.aca_name }}</h1><br/>
        <h5>Type: {{ academy.aca_type }}</h5>
        <h5>Office Phone: {{ academy.office_phone }}</h5>
        <h5>Location: {{ academy.location }}</h5>
    </div>
</div>
<!-- Numbers -->
<div class="card-columns">
    <div class="card bg-primary text-light text-center">
    <a href="{% url 'mem_list' %}">
      <div class="card-body">
          <h4 class="card-title display-3">
            <i class="fas fa-users fa-lg"></i>&nbsp;&nbsp;{{ num_stu }}
          </h4>
          <h3 class="card-text">
            Members
          </h3>
      </div>
    </a>
    </div>
    <div class="card bg-danger text-light text-center">
      <div class="card-body">
          <h4 class="card-title display-3">
            <i class="far fa-calendar-check"></i>&nbsp;&nbsp;{{ num_att }}
          </h4>
          <h3 class="card-text">
            Attended Today
          </h3>
      </div>
    </div>
</div>
{% endblock %}




