<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
{% block head_block %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}?"/>
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">>
    <title>Acagia - Academy Dashboard</title>
{% endblock %}
{% block body_block %}
<div class="wrapper">
{% block sidebar_block %}
{% endblock %}
<!-- PAGE ON THE RIGHT SIDE OF SIDEBAR -->
<div id="page">
  <!-- Navbar -->
  <nav id = "dashboard-navbar" class="navbar navbar-expand-lg
  navbar-light bg-light">
    <div class="container-fluid">
      <button id="sidebarCollapse" class="btn btn-dark">
        <i class="fas fa-align-left"></i>
        <span></span>
      </button>
      <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-align-justify"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto">
            <li class="navbar-item">
              <a class="nav-link" href="{% url 'check_in' %}">
                <i class="fas fa-calendar-check fa-lg"></i>&nbsp;Check-In
              </a>
            </li>
            <li class="navbar-item">
              <a class="nav-link" href="{% url 'aca_list' %}">
                <i class="fas fa-clipboard-list fa-lg"></i>&nbsp;Academy List
              </a>
            </li>
            <li class="navbar-item">
              <a class="nav-link" href="{% url 'logout' %}">
                <i class="fas fa-sign-out-alt fa-lg"></i>&nbsp;Logout
              </a>
            </li>
          </ul>
      </div>
    </div>
  </nav>

  <!-- PAGE CONTENT UNDER THE NAV BAR -->
  <div id="content">
    {% block content_block %}
    {% endblock %}
  </div> <!-- end content -->
</div> <!-- end page -->
</div> <!-- end wrapper -->
{% endblock %}

{% block script_block %}
  <!-- jQuery Custom Scroller CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
  <script type="text/javascript">
  // Initialize jQuery custom content scroller
  $(document).ready(function () {
    $("#sidebar").mCustomScrollbar({
         theme: "minimal"
    });
    $('#sidebarCollapse').on('click', function () {
        $('#sidebar, #page').toggleClass('active');
    });
  });
  </script>
{% endblock %}


