<!DOCTYPE html>
{% extends 'acagiaApp/dashboard_base.html' %}
{% load staticfiles %}
{% block title_block %}
  <title name="dashboard">{{ academy }} - Dashboard</title>
{% endblock %}
{% block sidebar_block %}

{% endblock %}

{% block content_block %}
<!-- Jumbtron academy information -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">{{ academy }}</h1><br/>
        <h5>Type: {{ academy.aca_type }}</h5>
        <h5>Office Phone: {{ academy.office_phone }}</h5>
        <h5>Location: {{ academy.location }}</h5>
        <h5>Time Zone: {{ academy.time_zone }}</h5>
    </div>
</div>
<!-- Numbers -->
<div class="card-columns">
    <div class="card bg-primary text-light text-center">
    <a href="{% url 'mem_list' %}">
      <div class="card-body">
          <h4 class="card-title display-3">
            <i class="fas fa-users fa-lg"></i>&nbsp;&nbsp;{{ num_mem }}
          </h4>
          <h3 class="card-text">
            Total Members<hr/>
          </h3>
          <h5 class="card-text text-light">
            {{ num_active }} Active members<br/>
            {{ num_inactive }} Inactive members<br/>
            {{ num_hold }} Hold Members
          </h5>
      </div>
    </a>
    </div> <!-- end card -->
    <div class="card bg-info text-light text-center">
      <a href="{% url 'att_list' %}">
      <div class="card-body">
          <h4 class="card-title display-3">
            <i class="far fa-calendar-check"></i>&nbsp;&nbsp;{{ num_att }}
          </h4>
          <h3 class="card-text">
            Attended Today
          </h3>
      </div>
      </a>
    </div> <!-- end card -->
    <div class="card bg-danger text-light text-center">
      <a href="{% url 'mem_list' %}">
      <div class="card-body">
          <h4 class="card-title display-3">
            <i class="fas fa-birthday-cake fa-lg"></i>&nbsp;&nbsp;Birthday
          </h4><hr/>
          <h3 class="card-text">
            {% if bday_members %}
            {% for member in bday_members %}
            {{ member }} turning in {{ member.age }}
            {% endfor %}
            {% else %}
            No birthday members today.
            {% endif %}
          </h3>
      </div>
      </a>
    </div> <!-- end card -->
</div>
{% endblock %}




