<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
{% block head_block %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}?"/>
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">>
{% endblock %}
{% block body_block %}
<div class="wrapper">
<!-- Sidebar -->
<nav id="sidebar">
  <div class="sidebar-header">
    <a href="{% url 'dashboard' %}"><h2>Acagia</h2></a>
  </div>
  <ul class="list-unstyled components">
    <li id="dashboard" class="">
      <a href="{% url 'dashboard' %}">
        <i class="fas fa-home fa-lg mr-3"></i>Home
      </a>
    </li>
    <li id="members" class="">
      <a href="{% url 'mem_list' %}">
        <i class="fas fa-users fa-lg mr-3"></i>Members
      </a>
    </li>
    <li id="classes" class="">
      <a href="{% url 'course_list' %}">
        <i class="fas fa-school fa-lg mr-3"></i>Classes
      </a>
    </li>
    <li id="events" class="">
      <a href="#">
       <i class="fas fa-calendar-alt fa-lg ml-1 mr-4"></i>Events
      </a>
    </li>
    <li id="ranks" class="">
      <a href="#">
       <i class="fas fa-bolt fa-lg ml-2 mr-4"></i>Promotion
      </a>
    </li>
    <li id="attendance" class="">
      <a href="{% url 'att_list' %}">
       <i class="fas fa-clipboard-check fa-lg ml-1 mr-4"></i>Attendance
      </a>
    </li>
  </ul>
</nav> <!-- end sidebar -->
<!-- PAGE ON THE RIGHT SIDE OF SIDEBAR -->
<div id="page">
  <!-- Navbar -->
  <nav id = "dashboard-navbar" class="navbar navbar-expand-lg
  navbar-light bg-light">
    <div class="container-fluid">
      <button id="sidebarCollapse" class="btn btn-dark">
        <i class="fas fa-align-left"></i>
        <span></span>
      </button>
      <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-align-justify"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto">
            <li class="navbar-item">
              <a class="nav-link" href="{% url 'check_in' %}">
                <i class="fas fa-calendar-check fa-lg"></i>&nbsp;Check-In
              </a>
            </li>
            <li class="navbar-item">
              <a class="nav-link" href="{% url 'aca_list' %}">
                <i class="fas fa-clipboard-list fa-lg"></i>&nbsp;Academy List
              </a>
            </li>
            <li class="navbar-item">
              <a class="nav-link" href="{% url 'logout' %}">
                <i class="fas fa-sign-out-alt fa-lg"></i>&nbsp;Logout
              </a>
            </li>
          </ul>
      </div>
    </div>
  </nav>

  <!-- PAGE CONTENT UNDER THE NAV BAR -->
  <div id="content">
    {% block content_block %}
    {% endblock %}
      <!-- Delete confirm modal -->
    <div class="modal" id="confirm-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Confirmation</h5>
          <button class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete <p><strong
                id="modal-msg"></strong></p>
        </div>
        <div class="modal-footer">
          <form method="POST" id="delete-mem" action="">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">
            Yes
            </button>
          </form>
          <button class="btn btn-danger" data-dismiss="modal">
            No
          </button>
        </div>
      </div>
    </div>
    </div> <!-- end delete confirm modal -->
  </div> <!-- end content -->
</div> <!-- end page -->
</div> <!-- end wrapper -->
{% endblock %} <!-- end body block -->

{% block script_block %}
  <!-- jQuery Custom Scroller CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
  <script type="text/javascript">
  // Initialize jQuery custom content scroller
  $(document).ready(function () {
    $("#sidebar").mCustomScrollbar({
         theme: "minimal"
    });
    $('#sidebarCollapse').on('click', function () {
        $('#sidebar, #page').toggleClass('active');
    });
  });
  </script>
  <script>
  // Change activeness on the current tab on the side bar
  $(document).ready(function () {
      var title_name = $('title').attr('name');
      $('#' + title_name).attr("class", 'active');
  });
  </script>
  <script>
  // Delete confirmation modal
  /* How to change modal's value (how to pass parameters):
     https://stackoverflow.com/questions/10626885/passing-data-to-a-bootstrap-modal */
  // Triggered when modal is about to be shown
  $('#confirm-modal').on('show.bs.modal', function(e) {
    var id = $(e.relatedTarget).data('id');
    var name = $(e.relatedTarget).data('name');
    var link = $(e.relatedTarget).data('link');
    $('#modal-msg').text(name + '?');
    $('#delete-mem').attr("action", link + id + '/');
  });
  </script>
{% endblock %}


