<!DOCTYPE html>
{% extends 'acagiaApp/dashboard_base.html' %}
{% load staticfiles %}
{% block title_block %}
  <title name="dashboard">{{ academy }} - Dashboard</title>
{% endblock %}

{% block content_block %}
<!-- Numbers -->
<div class="card-columns">
    <div class="card bg-primary text-light text-center ml-5">
    <a href="{% url 'mem_list' %}">
      <div class="card-body">
          <h4 class="card-title display-3">
            <i class="fas fa-users fa-lg"></i>&nbsp;&nbsp;{{ counts.num_mem }}
          </h4>
          <h3 class="card-text">
            Total Members<hr/>
          </h3>
          <h5 class="card-text">
            {{ counts.num_active }} Active members<br/>
            {{ counts.num_inactive }} Inactive members<br/>
            {{ counts.num_hold }} Hold Members
          </h5>
      </div>
    </a>
    </div> <!-- end card -->
    <div class="card bg-success text-light text-center ml-5">
      <a href="{% url 'att_by_date' %}">
      <div class="card-body">
          <h4 class="card-title display-3">
            <i class="far fa-calendar-check"></i>&nbsp;&nbsp;
              {{ counts.num_att }}
          </h4>
          <h3 class="card-text">
            Attended Today
          </h3>
      </div>
      </a>
    </div> <!-- end card -->
</div> <!-- end card columns -->

<div class="card-columns">
<div class="card text-light bg-danger ml-5">
  <a href="{% url 'mem_list' %}">
  <div class="card-body">
      <div class="card-title h3">
        <i class="fas fa-birthday-cake fa-lg"></i>&nbsp;&nbsp;Birthday
          Members
      </div><hr/>
      <p class="card-text">
        {% if bday_members %}
        {% for member in bday_members %}
        Congrats, {{ member }} is now {{ member.age }} years old!<br>
        {% endfor %}
        {% else %}
        No birthday members today.
        {% endif %}
      </p>
  </div>
  </a>
</div> <!-- end card -->

<a href="{% url 'promo_list' %}">
<div class="card text-light bg-info text-center ml-5">
      <div class="card-header h3">
        <i class="fas fas fa-bolt"></i>&nbsp;&nbsp;
          Promotion List
      </div>
      <div class="card-body">
          {% if promo.today %}
          <div class="card-title h5">
              Today - <i class="fas fa-users"></i> {{ promo.today_count }}
          </div>
          {% for mem in promo.today %}
          {{ mem.member }} ({{ mem.rank }})<br>
          {% endfor %}
          {% endif %}
          <br>
          {% if promo.week %}
          <div class="card-title h5">
              This Week - <i class="fas
              fa-users"></i> {{ promo.week_count }}
          </div>
          {% for mem in promo.week %}
          {{ mem.member }} ({{ mem.rank }})<br>
          {% endfor %}
          {% endif %}
      </div>
</div></a> <!-- end card -->
</div> <!-- end card columns -->


<!--<a href="{% url 'cal' %}" class="btn btn-info btn-lg mb-5">Calendar</a>-->
{% endblock %}




