<!DOCTYPE html>
{% extends 'acagiaApp/dashboard_base.html' %}
{% load staticfiles %}
{% block title_block %}
  <title name="events">Event details</title>
{% endblock %}

{% block content_block %}
<div class="detail-wrapper">
  {% if event %}
  <div class="text-center mb-5 text-info">
    <h4 class="display-4 mt-5">{{ event.title }}</h4>
    <h4><i class="fas fa-star text-primary"></i>
        Attendance Credit: <span class="text-danger"
        >{{ event.credit }}</span></h4>
  </div>
  <hr/>
  <div class="pl-5 table-responsive-sm">
    <table class="table text-center">
      <col width="30%">
      <col width="70%">
      <tbody>
        <tr>
          <td class="table-info text-primary">Starts</td>
          <td>{{ event.start_date }},
              {% if event.start_time %}
              {{ event.start_time|time:"g:i A" }}
              {% else %}
              All Day
              {% endif %}
          </td>
        </tr>
        <tr>
          <td class="table-info text-primary">Ends</td>
          <td>{{ event.end_date }},
              {% if event.end_time %}
              {{ event.end_time|time:"g:i A" }}
              {% else %}
              All Day
              {% endif %}
          </td>
        </tr>
        <tr>
          <td class="table-info text-primary">Notes</td>
          <td>
              {% if event.notes %}
              {{ event.notes }}
              {% else %}
              No notes
              {% endif %}
          </td>
        </tr>
      </tbody>
    </table><hr/>
  <h3 class="text-center mt-5">Attendees</h3>
  <table class="table table-hover table-striped text-center mb-5">
  <thead>
    <tr>
      <th>Attendee Photo</th>
      <th>Attendee Name</th>
      <th>Attendee Age</th>
      <th>Remove Attendee</th>
    </tr>
  </thead>
  {% if members %}
  <tbody>
    {% for member in members %}
    <tr>
      <td width="20%"><img src="{{ member.img.url }}" height="120" alt=
              "{{ member }}"/></td>
      <td>{{ member.first_name }} {{ member.last_name }}</td>
      <td>{{ member.age }}</td>
      <td>
        <a href="#confirm-modal" class="btn btn-danger"
           id="delete-link" data-toggle="modal"
           data-id="{{ member.id }}" data-name="{{ member }}" data-event="{{ event.id }}"
           data-link="/academy/events/detail/remove-mem/">
            <i class="fas fa-user-minus"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  {% else %}
  <td colspan="6" class="text-center">
      No Attendees yet!
  </td>
  {% endif %}
</table>
  <a href="{% url 'event_list' %}" class="btn btn-primary mr-auto">Event
      List</a>
  <a href="{% url 'event_add_mems' pk=event.pk %}" class="btn
        btn-primary mr-2">Add Attendees
  </a>
  {% else %}
  <h4>Oops! Something's wrong. Please try again. </h4>
  {% endif %}
</div>
{% endblock %}
