<!DOCTYPE html>
{% extends 'acagiaApp/dashboard_base.html' %}
{% load staticfiles %}
{% block title_block %}
  <title name="events">Managing events</title>
{% endblock %}

{% block content_block %}
<a href="{% url 'add_event' %}"><button class="btn btn-dark
mb-2">Add
    New
    Event</button></a>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Date/Time</th>
      <th>Description</th>
      <th>Operation</th>
    </tr>
  </thead>
  {% if events %}
  <tbody>
    {% for event in events %}
    <tr>
      <td>{{ event.title }}</td>
      <td>{{ event.start_time }} -
          {{ event.end_time }}
      </td>
      <td>{{ event.description }}</td>
      <td>
        <a href="/academy/courses/update-course/{{ course.id }}" class="btn
        btn-success
        btn-sm mr-2">
          <i class="fas fa-edit fa-lg"></i>
        </a>
        <a href="#confirm-modal" class="btn btn-danger btn-sm"
           id="delete-link" data-toggle="modal"
           data-id="{{ course.id }}" data-name="{{ course }}" data-link="/academy/courses/delete-course/">
            <i class="fas fa-trash-alt fa-lg"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
    {% else %}
    <td colspan="5" class="text-center">No events yet. Add
        your
        first
        event
        now!</td>
    {% endif %}
  </tbody>
</table>
{% endblock %}




