<!DOCTYPE html>
{% extends 'acagiaApp/dashboard_base.html' %}
{% load staticfiles %}
{% block title_block %}
  <title name="members">Member details</title>
{% endblock %}

{% block content_block %}
<a href="{% url 'mem_list' %}" class="pl-5 mb-4"><button class="btn btn-dark
mb-2">Member
    List</button></a>
<div class="detail-wrapper">
  {% if member %}
  <div class="row mb-5">
    <div class="col-md-5 pl-5">
    <img src="{{ member.img.url }}" alt="{{ member }}"/>
    </div>
    <div class="col-md-7 text-center">
      <p class="display-2 mt-5">{{ member }}</p>
    </div>
  </div>
  <hr/>
  <div class="pl-5 table-responsive-sm">
    <table class="table text-center">
      <col width="30%">
      <col width="70%">
      <tbody>
        <tr>
          <td colspan="2" class="table-dark text-light"><b>General
              Information</b></td>
        </tr>
        <tr>
          <td class="table-info text-secondary">Type</td>
          <td class="text-center">{{ member.mem_type }}</td>
        </tr>
        <tr>
          <td class="table-info text-secondary">Status</td>
          <td class="{% if member.status == 'Active' %} text-success
                {% elif member.status == 'Inactive' %} text-warning
                {% else %}text-danger
                {% endif %}">
              {{ member.status }}
          </td>
        </tr>
        <tr>
          <td class="table-info text-secondary">Date of Birth</td>
          <td class="text-center">{{ member.date_of_birth }}</td>
        </tr>
        <tr>
          <td class="table-info text-secondary">Gender</td>
          <td class="text-center">{{ member.gender }}</td>
        </tr>
        <tr>
          <td class="table-info text-secondary">Member Since</td>
          <td class="text-center">{{ member.member_since }}</td>
        </tr>

        <tr>
          <td colspan="2" class="table-dark text-light"><b>Rank
              Information</b></td>
        </tr>
        {% if member.mr_mem.rank %}
        <tr>
          <td class="table-info text-secondary">Rank</td>
          <td>
            {{ member.mr_mem.rank }}
            <a href="/academy/promotion/update-rank/{{ member.id }}" class="btn
            btn-success
            btn-sm ml-2">
              <i class="fas fa-edit fa-lg"></i>
            </a>
          </td>
        </tr>
        <tr>
         <td class="table-info text-secondary">Current Rank</td>
         <td> {{ member.mr_mem.days_attended }} days attended at current
             rank</td>
        </tr>
        <tr>
         <td class="table-info text-secondary">Next Promotion</td>
         <td> {{ member.mr_mem.days_left }} days left for next promotion</td>
        </tr>
        <tr>
         <td class="table-info text-secondary">Total Days</td>
         <td> {{ member.mr_mem.total_days }} days attended since the first day
         </td>
        </tr>
        {% else %}
        <tr>
          <td colspan="2" class="text-dark">No Rank
              Assigned</td>
        </tr>
        {% endif %}

        <tr>
          <td colspan="2" class="table-dark text-light"><b>Contact
              Information</b></td>
        </tr>
        <tr>
          <td class="table-info text-secondary">Phone Number</td>
          <td class="text-center">{{ member.cell_phone }}</td>
        </tr>
        <tr>
          <td class="table-info text-secondary">Email</td>
          <td class="text-center">{{ member.email }}</td>
        </tr>
        <tr>
          <td class="table-info text-secondary">Address</td>
          <td class="text-center">{% if member.address %}{{ member.address }}{% else %}
        No address information{% endif %}</td>
        </tr>

        <tr>
          <td colspan="2" class="table-dark text-light"><b>Payment
              Information</b></td>
        </tr>
        <tr>
          <td class="table-info text-secondary">Payment Status</td>
          <td class="text-center">{{ member.pay_mem.pay_status }}</td>
        </tr>
        <tr>
          <td class="table-info text-secondary">Payment Day of Month</td>
          <td class="text-center">{{ member.pay_mem.nth_day }}</td>
        </tr>
        <tr>
          <td class="table-info text-secondary">Payment Option</td>
          <td class="text-center">{{ member.pay_mem.pay_term }}</td>
        </tr>
      </tbody>
    </table>
  {% else %}
  <h4>Oops! Something's wrong. Please try again. </h4>
  {% endif %}
</div>
{% endblock %}
