<!DOCTYPE html>
{% extends 'acagiaApp/dashboard_base.html' %}
{% load staticfiles %}
{% block title_block %}
  <title name="members">{{ academy }} - Members</title>
{% endblock %}

{% block content_block %}
<a href="{% url 'add_member' %}"><button class="btn btn-dark
mb-2">Add
    New
    Member</button></a>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Rank</th>
      <th>Status</th>
      <th>Type</th>
      <th>Operations</th>
    </tr>
  </thead>
  <tbody>
    {% if members %}
    {% for member in members %}
    <tr>
      <td>{{ member.first_name }}</td>
      <td>{{ member.last_name }}</td>
      <td>{{ member.age }}</td>
      <td>{{ member.gender }}</td>
      <td></td>
      <td class="{% if member.status == 'Active' %} text-success
            {% elif member.status == 'Inactive' %} text-warning
            {% else %}text-danger
            {% endif %}">
          {{ member.status }}
      </td>
      <td>{{ member.mem_type }}</td>
      <td>
        <a href="/academy/members/detail/{{ member.id }}" class="btn
        btn-primary btn-sm mr-2">
          <i class="far fa-id-card fa-lg"></i>
        </a>
        <a href="#" class="btn btn-info btn-sm mr-2">
          <i class="far fa-calendar-check fa-lg"></i>
        </a>
        <a href="/academy/members/update-member/{{ member.id }}" class="btn
        btn-success btn-sm mr-2">
          <i class="fas fa-user-edit fa-lg"></i>
        </a>
        <a href="#confirm-modal" class="btn btn-danger btn-sm"
           id="delete-link" data-toggle="modal"
           data-id="{{ member.id }}" data-name="{{ member }}" data-link="/academy/members/delete-member/">
            <i class="fas fa-trash-alt fa-lg"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
    {% else %}
    <td colspan="8" class="text-center">No members yet. Add your first member
        now!</td>
    {% endif %}
  </tbody>
</table>

{% endblock %}