<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
{% block head_block %}
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>
    <title>Acagia - Log In</title>
{% endblock %}
{% block body_block %}
    <!-- LOGIN FORM -->
    <div class="pt-5 container">
    <div class="pt-5 row">
    <div class="col-md-6 offset-md-3">
      <div class="card bg-primary text-center card-form">
        <div class="card-body">
          <h3>Acagia</h3>
          <p>{{ form.errors|striptags }}</p>
          <form method="post">
            {% csrf_token %}
            <div class="form-group">
                  {{ form.username }}
            </div>
            <div class="form-group">
                  {{ form.password }}
            </div>
            <button
              type="submit"
              class="btn btn-outline-light btn-block btn-lg">
                Log In
            </button>
            <p class="mt-3">Don't have an account?
                <a href="{% url 'signup' %}" class="text-info">Sign up</a></p>
            <a href="{% url 'home' %}" class="text-info mt-2">Go back to
                home?</a>
          </form>
        </div>
      </div>
    </div>
    </div>
    </div>
{% endblock %}



