<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
{% block head_block %}
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>
    <title>Acagia - Log In</title>
{% endblock %}
{% block body_block %}
    <!-- LOGIN FORM -->
<div class="pt-5 container">
    <div class="pt-5 row">
    <div class="col-md-6 offset-md-3">
      <div class="card bg-white border-primary bg-light text-black-50
      text-center
      card-form">
        <div class="card-body">
          <h3 class="text-primary">Acagia</h3>
          <p class="mb-3">Login with your account and manage your academy
              now!</p>
          <hr/>
          <div class="mb-4"></div>
          {% if form.errors %}
          <p class="text-danger">Please enter correct username and password.</p>
          {% endif %}
          <form method="post">
            {% csrf_token %}
            <div class="form-group mx-auto" style="width:70%;">
                  {{ form.username }}
            </div>
            <div class="form-group mx-auto" style="width:70%;">
                  {{ form.password }}
            </div>
            <button
              type="submit"
              class="mt-4 btn btn-primary btn-block mx-auto"
              style="width:70%;">
                Log In
            </button>
            <p class="mt-3">Don't have an account?
                <a href="{% url 'signup' %}" class="text-primary">Sign
                    up</a></p>
            <a href="{% url 'home' %}" class="text-primary mt-2">Go back to
                home</a>
          </form>
        </div>
      </div>
    </div>
    </div>
</div>
{% endblock %}



